[submodule "field-research-data-treatment"]
	path = field-research-data-treatment
	url = https://github.com/PedrooMachado23/field-research-data-treatment.git
[submodule "data_plotter"]
	path = data_plotter
	url = https://github.com/PedrooMachado23/data_plotter.git
